body {
    background-image: url(https://cs9.pikabu.ru/post_img/big/2017/02/09/8/1486644025191452535.jpg);
}
input:focus {
    border: 2px solid red;
    
}
input:required {
    background: green;
}
div:nth-child(2n) {
    font-size: 25px;
}
.block:first-child {
    color: orange;
}
.block:last-child {
    text-decoration: underline;
}
span:nth-of-type(2n) {
    color:red;
}
/*поставить + после текста*/
header:after {
    content: "+"
    
}
header:before {
    font-family: FontAwesome;
    content: "\f09a";
    display: block;
    color: red;
}
.z-index div{
    position: relative;
    width: 150px;
    height: 150px;

}
@keyframes example {
0% {
    transform: translate(0px, 0px);
}
25% {
    opacity: 0.3;
    background: orange;
}
50% {
    transform: translate(50px, 50px);
    opacity: 0.5;
    background:red;
}

75% {
    opacity: 0.7;
    background: white;

}
100% {
    transform: translate(0px, 0px);
    opacity: 1;
    background: black;
}
}



.z-index div:first-child {
    
    background: radial-gradient(circle, blue, white);
    border-radius: 5px 30px ;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    

    

}
.z-index div:first-child:hover {
    z-index: 1;
    /* transform: translate(50px, 100px) */
    

}
.z-index div:nth-child(2) {
    background: linear-gradient(to right, red, yellow);
    top: -50px;
    left: 50px;
    border-radius: 5px 30px;
}
.z-index div:nth-child(2):hover{ 
    z-index: 1;
    transform: scale(1.2);
}
.z-index div:last-child {
    background: springgreen;
    top: -150px;
    left: 150px;
    border-radius: 5px 30px;
    opacity: 0.5;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.5)
}
.z-index div:last-child:hover {
    opacity: 1;
    transform: rotate(45deg)
}
.spis {
    list-style: none;

}
.spis ::before {
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
    padding-bottom: 10px
}